<header class="header">
  <img src="../../assets/logo2.png" alt="logoo" class="logo">
  <form action="" class="search-box">
    <input type="text" name="search input" class="search-box__input" placeholder="Cheez Pizza">
    <button class="search-box__button">

      <span class="search-box__button-icon" class="material-icons">
        search
      </span>
    </button>
  </form>
  <nav class="user-navigation">
    <a class="user-navigation__icon-box">
      <i href="#" class="material-icons" style="color:white">home
      </i>
      <span class="user-navigation__notification">
        7
      </span>
    </a>
    <a class="user-navigation__icon-box">
      <i href="#" class="material-icons" style="color:white">restaurant
      </i>
      <span class="user-navigation__notification">
        300
      </span>
    </a>
    <div class="user-navigation__user">
      <img src="../../assets/pizaa3.jpg" class="user-navigation__user-photo" alt="userpicture">
      <span class="user-navigation__user-name">{{userName}}</span>
    </div>
  </nav>
</header>
